.container_btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.btn {
  border: 1px solid black;
  border-radius: 2px;
  padding: 0px 5px 4px 5px;
}

.btn.btn_active {
  background: #7d7469b5;
  color: blue;
}