.container {
  padding: 0 80px 5px;
}

.container_btn {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
}

.btn {
  border: 1px solid black;
  border-radius: 2px;
  padding: 0px 5px 4px 5px;
}

.btn.btn_active {
  background: #7d7469b5;
  color: blue;
}

.container_img {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: stretch;
  margin: 10px auto 0;
}
